#mainNav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1001;
}
#mainNav .navbar-toggler {
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  font-size: 14px;
}
#mainNav .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-top: 17px;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #e6e6e6;
}
#mainNav .navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 150px !important;
}
#mainNav .navbar-nav .nav-item {
  height: 40px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mainNav .navbar-nav .nav-item .nav-link {
  padding: 0.75em 0.5em;
  color: white;
  font-size: 14px;
  font-family: "SF Pro Text";
}
#mainNav .navbar-nav .nav-item .nav-link:active, #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:focus {
  color: #FF6C00 !important;
}
#mainNav .navbar-nav .nav-item.show .nav-link, #mainNav .navbar-nav .nav-item:hover .nav-link, #mainNav .navbar-nav .nav-item:active .nav-link {
  color: #FF6C00;
}
#mainNav .navbar-nav .nav-item .dropdown-menu {
  border: 0;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 0;
  top: 45px;
  padding-left: 10px;
}
#mainNav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  font-family: "SF Pro Text";
}
#mainNav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover, #mainNav .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
  color: #FF6C00;
}

.active-link {
  color: #FF6C00 !important;
}

.dropdown-toggle:after {
  margin-left: 4px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 0;
  border-left: 0;
  height: 7px;
  width: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 991px) {
  #mainNav .navbar-nav {
    margin-left: 0 !important;
  }
  #mainNav .navbar-nav .nav-item {
    display: contents;
  }
  #mainNav .navbar-nav .nav-item .dropdown-menu {
    background-color: transparent;
  }
}
