#mainNav {
  background-color: rgba(0, 0, 0, 0.8);

  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1001;

  .navbar-toggler {
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    outline: none;
    border: none;
    font-size: 14px;
  }

  .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-top: 17px;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken(#FFFFFF, 10%);
    }
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-between;
    margin-left: 150px !important;

    .nav-item {
      height: 40px;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .nav-link {
        padding: 0.75em 0.5em;
        color: white;
        font-size: 14px;
        font-family: 'SF Pro Text';

        &:active,
        &:hover,
        &:focus {
          color: #FF6C00 !important;
        }
      }
      &.show, &:hover, &:active {
        .nav-link {
          color: #FF6C00;
        }
      }
      .dropdown-menu {
        border: 0;
        background-color: rgba(0, 0, 0, 0.82);
        border-radius: 0;
        top: 45px;
        padding-left: 10px;

        .dropdown-item {
          font-size: 14px;
          color: #ffffff;
          background-color: transparent;
          padding: 0.25rem 0.5rem;
          font-family: 'SF Pro Text';

          &:hover, &:focus {
              color: #FF6C00;
          }
        }
      }
    }
  }
}

.active-link {
  color: #FF6C00 !important;
}

.dropdown-toggle:after {
  margin-left: 4px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 0;
  border-left: 0;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
}

@media (max-width: 991px) {
  #mainNav .navbar-nav {
    margin-left: 0 !important;
    & .nav-item {
      display: contents;
      & .dropdown-menu {
        background-color: transparent;
      }
    }
  }
}
